@{
    ViewData["Title"] = "Sancion.cshtml";
}

<h1>Sancion</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar Sancion
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Sancion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="sancionForm" method="post" action="/AgregarSancion">
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="nombre">Agente:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="form-group col">
                            <label for="conductor">Conductor:</label>
                            <input type="text" class="form-control" id="conductor" name="conductor" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="vehiculo">Vehiculo:</label>
                            <input type="text" class="form-control" id="vehiculo" name="vehiculo" required>
                        </div>
                        <div class="form-group col">
                            <label for="fecha">Fecha:</label>
                            <input type="date" class="form-control" id="fecha" name="fecha">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Fechadepago">Fecha de Pago</label>
                        <input type="date" class="form-control" id="Fechadepago" name="Fechadepago">
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success mt-3 btn-block">Agregar sancion</button>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>